.divform{
    background-color: rgb(118, 0, 8);
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    margin: 220px auto;
}

.login input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 16px;
}

#cad{
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

#cad:hover{
    background-color: rgb(91, 17, 17);
    color: #ffffff;
}


.login{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.but{
    align-items: center;
    width: 300px;
}

@font-face {
    font-family: tit;
    src: url(../fontes/Coolvetica\ Rg.otf);
}

.divform{
    color: #ffffff;
    font-family: 'tit';
}

.org{
    display: flex;
    flex-direction: column;
}

.cop{
    background-color: rgb(91, 17, 17);
}

.senha{
    text-decoration: none;
    color: #ffffff;
    font-size: small;
}

a:hover{
    text-decoration: underline;
}


.sla{
    margin: 0;
}

header {
    background-color: rgb(91, 17, 17);
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    color: white;
    font-size: 24px;
  }
  
  /* Esconde o checkbox */
  #menu-toggle {
    display: none;
  }
  
  /* Botão hambúrguer */
  .hamburguer {
    color: white;
    font-size: 30px;
    cursor: pointer;
  }
  
  /* Menu escondido */
  nav {
    display: none;
  
    position: absolute;
    top: 100%;
    right: 0;
  
    background-color: rgb(91, 17, 17);
    width: 200px;
    padding: 20px;
  }
  
  /* Quando o checkbox estiver marcado, mostra o menu */
  #menu-toggle:checked ~ nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
