.divform{
    background-color: rgb(118, 0, 8);
    padding: 30px;
    border-radius: 20px;
    width: 300px;
    margin: 220px auto;
}

.login input{
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #ffffff;
    font-size: 16px;
}

#cad{
    cursor: pointer;
    transition: 0.2s;
    width: 100%;
}

#cad:hover{
    background-color: rgb(91, 17, 17);
    color: #ffffff;
}


.login{
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.but{
    align-items: center;
    width: 300px;
}

@font-face {
    font-family: tit;
    src: url(../fontes/Coolvetica\ Rg.otf);
}

.divform{
    color: #ffffff;
    font-family: 'tit';
}

.org{
    display: flex;
    flex-direction: column;
}

.cop{
    background-color: rgb(91, 17, 17);
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: small;
}

a:hover{
    text-decoration: underline;
}
